body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#ff4e8a,#ff9ac1);
    color:white;
    text-align:center;
}

/* CONTENEDOR */
.contenedor{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* CORAZON */
.corazon{
    width:300px;
    height:270px;
    background:red;
    position:relative;
    transform: rotate(-45deg);
    margin-bottom:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:1s;
}

.corazon::before,
.corazon::after{
    content:"";
    width:300px;
    height:270px;
    background:red;
    border-radius:50%;
    position:absolute;
}

.corazon::before{ top:-150px; left:0; }
.corazon::after{ left:150px; top:0; }

.corazon h1{
    transform: rotate(45deg);
    width:220px;
    font-size:22px;
}

/* BOTONES */
.botones button{
    padding:12px 25px;
    margin:10px;
    border:none;
    border-radius:20px;
    font-size:18px;
    cursor:pointer;
}

/* FOTO FINAL */
.final{
    margin-top:20px;
}

.foto{
    width:300px;
    border-radius:20px;
    margin-bottom:20px;
}

/* OCULTO */
.oculto{
    display:none;
}

/* ANIMACION CORAZON */
.abrir{
    transform: scale(0);
    opacity:0;
}
