body{
    margin:0;
    height:100vh;
    background: linear-gradient(45deg,#ff7eb3,#ff758c,#ff7eb3);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    padding:40px;
    border-radius:20px;
    color:white;
    text-align:center;
}

.card{
    background: rgba(255,255,255,0.15);
    padding:30px;
    border-radius:20px;
}
